h1,h3{
    text-align: center;

}
.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid;
    border-color: aqua;
}
ul {
    
    padding: 10px;
    font-size: 1.2em;
}
